# Exclude only PDF files, not the data folder
*.pdf
__pycache__/
node_modules/
.DS_Store
_site/

# Materiale di studio locale: non pubblicare (copyright / dati personali)
AIOM/
ESMO/
Congressi/
Testo_Estratto/
Appunti/
Inbox/
Archivio/
docs/
.Rhistory
